html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav"
    "folders notes"
    "folders notes";
  }

.nav { 
  grid-area: nav;
  height: 55px;
  overflow: hidden;
 }

 #navContainer {
  display: flex;
  align-items: center;
  background-color: #203647;
  color: #EEFBFB;
  height: 100%;
 }

 #logo {
   margin: 15px;
   height: 50px;
   width: 50px;
 }

 h1 {
   font-size: 28px;
 }

.folders {
  grid-area: folders;
  height: 100%;
  background-color: #FAFAFA ;
  overflow: hidden;
}

#folderContainer {
  position: relative;
  margin: auto;
  top: 15px;
  width: 80%;
}

.notes { 
  grid-area: notes;
  overflow: auto;
 }

h2 {
  color: #12232E;
}

#noteContainer {
  position: relative;
  margin: auto;
  top: 30px;
  width: 70%;
}

 #noteList #completedNoteList {
   display: flex;
   flex-direction: column;
 }

#newNote {
  background: url('././././././images/add.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: left;
  padding-left: 40px;
  font-size: 16px;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
}

#newNote:hover::placeholder {
  color:#12232E
}

#newNote:focus::placeholder {
  color:#12232E
}

#newNote:hover {
  background-color: #EEFBFB;
  border-radius: 10px;
}

#newNote:focus {
  background-color: #EEFBFB;
  border-radius: 10px;
  outline: none;
}

.Note {
  margin: auto 20px;
}

.noteDiv {
  display: flex;
  height: 35px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.newNoteContainer {
  color: black
}

.completedNote {
  color: gray;
  text-decoration: line-through;
}


.emptyCircle {
  height: 22px;
  width: 22px;
}

.emptyCircle:hover {
  opacity: 0.5;
  background: url('././././././images/check.svg');
  color: gray;
}

.checkedBox {
  height: 22px;
  width: 22px;
  background: url('././././././images/check.svg');
  filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(173deg) brightness(96%) contrast(89%);
}

.checkedBox:hover {
  filter: saturate(100%) brightness(0);
}

.deleteIcon {
  display: none;
  padding-left: 6px;
  height: 22px;
  width: 22px;
  filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(173deg) brightness(96%) contrast(89%);
}

.deleteIcon:hover {
  filter: invert(31%) sepia(96%) saturate(5922%) hue-rotate(353deg) brightness(104%) contrast(140%);
}

.editIcon {
  display: none;
  height: 22px;
  width: 22px;
  margin-left: auto;
  filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(173deg) brightness(96%) contrast(89%);
}

.editIcon:hover {
  filter: saturate(100%) brightness(0);
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}