html {
  height: 100%;
}

body {
  height: 100%;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav"
      "folders notes"
      "folders notes";
  }

  .nav { 
    grid-area: nav;
    height: 100%;
    color: #ffffff;
    background-color: #85dcb8 ;
 }

  .folders {
    grid-area: folders;
    background-color: #FAFAFA ;
  }

  .notes { 
    grid-area: notes;
 }

 #noteList {
   display: flex;
   flex-direction: column;
 }

#noteContainer {
  padding: 45px;
}

#noteFormContainer {
  display: none;
  background-color: #fefefe;
  border: 1px solid black;
}

.emptyCircle {
  height: 20px;
  width: 20px;
}


.Note {
  margin: auto 20px;
}

.newNoteContainer {
  display: flex;
  padding: 15px;
}